{{ define "title" }}Add New Goal{{ end }}
{{ define "description" }}
  Create a new goal for your timeline. Set targets, deadlines, and visibility
  preferences to track your progress.
{{ end }}
{{ define "main" }}
  <div class="flex flex-col gap-2 w-full">
    <a href="/goals" class="text-base-content/50 hover:text-base-content"
      >&larr; Back</a
    >
    <form action="/goals/add/" method="post">
      <fieldset
        class="fieldset bg-base-200 border-base-300 rounded-box border p-4"
      >
        <legend class="fieldset-legend">Add Goal</legend>

        <label for="goal" class="label">Goal</label>
        <input
          id="goal"
          name="goal"
          value="{{ .Form.Goal }}"
          type="text"
          class="input w-full"
          placeholder="My goal"
        />
        {{ with .Form.Errors.goal }}
          <label class="label">
            <span class="label-text-alt text-error">{{ . }}</span>
          </label>
        {{ end }}

        <label for="description" class="label">Description</label>
        <textarea id="description" class="textarea w-full" name="description">{{ .Form.Description }}</textarea>
        {{ with .Form.Errors.description }}
          <label class="label">
            <span class="label-text-alt text-error">{{ . }}</span>
          </label>
        {{ end }}


        <label for="due" class="label">Due</label>
        <input
          id="due"
          name="due"
          type="date"
          class="input w-full"
          value="{{ .Form.Due }}"
        />
        {{ with .Form.Errors.due }}
          <label class="label">
            <span class="label-text-alt text-error">{{ . }}</span>
          </label>
        {{ end }}


        <label for="visible" class="label">
          <input
            id="visible"
            name="visible"
            type="checkbox"
            class="checkbox"
            {{ if
              .Form.VisibleToPublic
            }}
              checked
            {{ end }}
          />
          Visible to the public after shared
        </label>
        {{ with .Form.Errors.visible }}
          <label class="label">
            <span class="label-text-alt text-error">{{ . }}</span>
          </label>
        {{ end }}


        <div>
          <button type="submit" class="btn btn-neutral mt-4">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-plus-icon lucide-plus"
            >
              <path d="M5 12h14" />
              <path d="M12 5v14" />
            </svg>
            Add
          </button>
        </div>
      </fieldset>
    </form>
  </div>
{{ end }}
