{{define "title"}}Settings{{end}} {{define "description"}}Settings Page{{end}}
{{define "main"}}
<div class="flex flex-col gap-2">
  <a href="/" class="text-base-content/50 hover:text-base-content"
    >&larr; Back</a
  >
  <fieldset
    class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4"
  >
    <legend class="fieldset-legend">Account</legend>

    <label class="label">Email</label>
    <input type="email" class="input" placeholder="john@doe.com" disabled />
  </fieldset>

  <fieldset
    class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4"
  >
    <legend class="fieldset-legend">Goals</legend>

    <label class="label">Branding</label>
    <input type="text" class="input" placeholder="Goalkeepr" />
  </fieldset>

  <fieldset
    class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4"
  >
    <legend class="fieldset-legend">Danger Zone</legend>

    <div class="flex justify-between items-center">
      <p>Delete Your Account</p>
      <button class="btn btn-error w-24">Delete</button>
    </div>
  </fieldset>
</div>
{{ end }}
