{{define "title"}}Settings{{end}} {{define "description"}}Settings Page{{end}}
{{define "main"}}
<div class="flex flex-col gap-4">
  <hgroup>
    <h1 class="text-2xl font-bold">Settings</h1>
    <p class="text-base-content/50">
      Oversee and modify your personal information.
    </p>
  </hgroup>
  <div class="card card-border bg-base-100 w-full">
    <div class="card-body">
      <h2 class="card-title">Account</h2>
      <fieldset class="fieldset">
        <legend class="fieldset-legend">Email</legend>
        <input type="text" class="input" placeholder="john@doe.com" disabled />
      </fieldset>
    </div>
  </div>
  <div class="card card-border border-error bg-base-100 w-full">
    <div class="card-body">
      <h2 class="card-title text-error">Danger Zone</h2>
      <div class="flex justify-between items-center">
        <p>Reset Your Password</p>
        <button class="btn btn-warning w-24">Reset</button>
      </div>
      <div class="flex justify-between items-center">
        <p>Delete Your Account</p>
        <button class="btn btn-error w-24">Delete</button>
      </div>
    </div>
  </div>
</div>
{{ end }}
