{{define "title"}}Settings{{end}} {{define "description"}}Settings Page{{end}}
{{define "main"}}
<div class="flex flex-col gap-2">
  <a href="/" class="text-base-content/50 hover:text-base-content"
    >&larr; Back</a
  >
  <fieldset
    class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4"
  >
    <legend class="fieldset-legend">Account</legend>

    <label class="label">Email</label>
    <input type="email" class="input" placeholder="john@doe.com" disabled />
  </fieldset>

  <fieldset
    class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4"
  >
    <legend class="fieldset-legend">Branding</legend>

    <label class="label">Title</label>
    <input type="text" class="input" placeholder="Title" />

    <label class="label">Description</label>
    <textarea type="text" class="textarea" placeholder="Description"></textarea>

    <button class="btn mt-4">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-check-icon lucide-check"
      >
        <path d="M20 6 9 17l-5-5" />
      </svg>
      Save Branding
    </button>
  </fieldset>

  <fieldset
    class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4"
  >
    <legend class="fieldset-legend">Danger Zone</legend>

    <div class="flex justify-between items-center">
      <p>Delete Your Account</p>
      <button class="btn btn-error btn-sm">DELETE</button>
    </div>
  </fieldset>
</div>
{{ end }}
