{{define "title"}}Register{{end}} {{define "description"}}Regiser an
Account{{end}} {{define "main"}}
<form action="/signup" method="post" novalidate>
  <fieldset
    class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4"
  >
    <legend class="fieldset-legend">Register</legend>

    <label class="label">Email</label>
    <input
      name="email"
      type="email"
      class="input"
      placeholder="Email"
      value="{{ .Form.Email }}"
    />
    {{with .Form.Errors.email}}
    <label class="label">
      <span class="label-text-alt text-error">{{.}}</span>
    </label>
    {{end}}

    <label class="label">Password</label>
    <input
      name="password"
      type="password"
      class="input"
      placeholder="Password"
    />
    {{with .Form.Errors.password}}
    <label class="label">
      <span class="label-text-alt text-error">{{.}}</span>
    </label>
    {{end}}

    <label class="label">Repeat Password</label>
    <input
      name="repeat_password"
      type="password"
      class="input"
      placeholder="Repeat Password"
    />
    {{with .Form.Errors.repeat_password}}
    <label class="label">
      <span class="label-text-alt text-error">{{.}}</span>
    </label>
    {{end}}

    <button type="submit" class="btn btn-neutral mt-4">Register</button>

    <p class="text-sm">
      Already have an account?
      <a href="/signin" class="link hover:link-accent">Login</a>
    </p>
  </fieldset>
</form>
{{ end }}
