{{define "title"}}Add Goal{{end}} {{define "description"}}Add a Goal{{end}}
{{define "main"}}
<div class="flex flex-col gap-2">
  <a href="/" class="text-base-content/50 hover:text-base-content"
    >&larr; Back</a
  >
  <fieldset
    class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4"
  >
    <legend class="fieldset-legend">Add Goal</legend>

    <label class="label">Goal</label>
    <textarea type="text" class="textarea" placeholder="My goal"></textarea>

    <label class="label">Due</label>
    <input type="date" class="input" />

    <label class="label">
      <input type="checkbox" class="checkbox" />
      Visible to the public after shared
    </label>

    <button class="btn btn-neutral mt-4">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-plus-icon lucide-plus"
      >
        <path d="M5 12h14" />
        <path d="M12 5v14" />
      </svg>
      Add
    </button>
  </fieldset>
</div>
{{ end }}
