{{define "title"}}Add Goal{{end}} {{define "description"}}Add a Goal{{end}}
{{define "main"}}
<div class="flex flex-col gap-2">
  <a href="/" class="text-base-content/50 hover:text-base-content"
    >&larr; Back</a
  >
  <form action="/goals/add/" method="post">
    <fieldset
      class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4"
    >
      <legend class="fieldset-legend">Add Goal</legend>

      <label class="label">Goal</label>
      <textarea name="goal" type="text" class="textarea" placeholder="My goal">
{{ .Form.Goal }}</textarea
      >
      {{with .Form.Errors.goal}}
      <label class="label">
        <span class="label-text-alt text-error">{{.}}</span>
      </label>
      {{end}}

      <label class="label">Due</label>
      <input name="due" type="date" class="input" value="{{ .Form.Due }}" />
      {{with .Form.Errors.due}}
      <label class="label">
        <span class="label-text-alt text-error">{{.}}</span>
      </label>
      {{end}}

      <label class="label">
        <input
          name="visible"
          type="checkbox"
          class="checkbox"
          {{if
          .Form.VisibleToPublic}}checked{{end}}
        />
        Visible to the public after shared
      </label>
      {{with .Form.Errors.visible}}
      <label class="label">
        <span class="label-text-alt text-error">{{.}}</span>
      </label>
      {{end}}

      <button type="submit" class="btn btn-neutral mt-4">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-plus-icon lucide-plus"
        >
          <path d="M5 12h14" />
          <path d="M12 5v14" />
        </svg>
        Add
      </button>
    </fieldset>
  </form>
</div>
{{ end }}
