{{define "title"}}Share{{end}} {{define "description"}}Share Your
Timeline{{end}} {{define "main"}}
<div class="flex flex-col gap-2">
  <a href="/" class="text-base-content/50 hover:text-base-content"
    >&larr; Back</a
  >
  <fieldset
    id="share-links"
    class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4"
  >
    <legend class="fieldset-legend">Share</legend>

    {{ if .Data.Links }} {{ range .Data.Links}}
    <div class="flex gap-1 items-center">
      <input
        type="text"
        value="{{$.Data.Host}}/s/{{ .PublicID }}"
        readonly
        class="input flex-1 bg-base-200"
        onclick="this.select()"
      />
      <button
        class="btn"
        onclick="navigator.clipboard.writeText('{{$.Data.Host}}/s/{{ .PublicID }}')"
      >
        Copy
      </button>
      <button
        class="btn btn-error"
        hx-delete="/goals/share/{{ .ID }}"
        hx-target="closest .flex"
        hx-swap="outerHTML"
        hx-confirm="Delete this share link?"
      >
        Delete
      </button>
    </div>
    {{ end }}

    <br class="divider" />

    {{ end }}

    <button
      class="btn"
      hx-post="/goals/share/create"
      hx-target="#share-links"
      hx-swap="afterbegin"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-plus"
      >
        <path d="M5 12h14" />
        <path d="M12 5v14" />
      </svg>
      Create New Link
    </button>
  </fieldset>
</div>

{{ end}}
